@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.containerF {
  position: relative;
  width: 1170px;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #d87d4a;
  border-color: #b0b5bd;
}

.btn {
  width: 150px;
  background-color: #d87d4a;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #d1510c;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.containerF:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-45%);
  background-image: linear-gradient(-45deg, #e6763a 0%, #d87d4a 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.containerF.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.containerF.sign-up-mode .left-panel .image,
.containerF.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.containerF.sign-up-mode .signin-signup {
  left: 25%;
}

.containerF.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.containerF.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.containerF.sign-up-mode .right-panel .image,
.containerF.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.containerF.sign-up-mode .left-panel {
  pointer-events: none;
}

.containerF.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .containerF:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .containerF.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .containerF.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .containerF.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .containerF.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .containerF {
    padding: 1.5rem;
  }

  .containerF:before {
    bottom: 72%;
    left: 50%;
  }

  .containerF.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
/* Colors */
/* Font size */
/* Line height */
/* Letter spacing */
/* Offsets */
/* Others */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
}

nav {
    background-color: #131314;
}

    nav header.border-bottom {
        border-bottom: 1px solid #dee2e638 !important;
    }

    nav header .nav-link {
        color: white;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        font-weight: 600;
    }

        nav header .nav-link.active {
            color: #d97e4a;
        }

        nav header .nav-link:hover {
            color: #d97e4a;
        }

    nav header .btn {
        min-width: 30%;
        background-color: #d97e4a;
        border: none;
        outline: none;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

        nav header .btn:hover {
            background-color: #fbad83;
        }

    nav header .me-2 {
        margin-right: 1rem !important;
    }

section.header {
    background-image: url("./public/image-hero.jpg");
    background-position: bottom;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-color: #131314;
    color: white;
}

    section.header .info {
        padding: 120px 0 120px;
    }

        section.header .info span {
            letter-spacing: 10px;
            font-weight: 600;
            font-size: 14px;
        }

        section.header .info p {
            line-height: 1.6;
            letter-spacing: 0.8px;
            margin-bottom: 24px;
        }

        section.header .info h2 {
            font-size: 40px;
            margin: 16px 0 24px;
        }

        section.header .info span,
        section.header .info p {
            color: #ffffff80;
        }

        section.header .info button {
            padding: 10px 30px;
            border: 0;
            outline: 0;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: white;
            background-color: #d97e4a;
            letter-spacing: 1.5px;
        }

section .product-details .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    section .product-details .details span {
        letter-spacing: 10px;
        font-weight: 600;
        font-size: 14px;
        color: #d97e4a;
    }

    section .product-details .details p {
        line-height: 1.6;
        letter-spacing: 0.8px;
        margin-bottom: 24px;
        color: gray;
        width: 90%;
    }

    section .product-details .details h2 {
        font-size: 35px;
        margin: 16px 0 24px;
    }

    section .product-details .details button {
        padding: 10px 30px;
        border: 0;
        outline: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: white;
        background-color: #d97e4a;
        letter-spacing: 1.5px;
    }

section .order-details {
    margin: 20px 0;
}

    section .order-details .details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        section .order-details .details span {
            letter-spacing: 10px;
            font-weight: 600;
            font-size: 14px;
            color: #d97e4a;
        }

        section .order-details .details p {
            line-height: 1.6;
            letter-spacing: 0.8px;
            margin-bottom: 24px;
            color: gray;
            width: 90%;
        }

        section .order-details .details h3 {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 35px;
        }

        section .order-details .details h2 {
            font-size: 35px;
            margin: 16px 0 24px;
        }

        section .order-details .details .control-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

            section .order-details .details .control-btn .css-1b62j29 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                background: #f1f1f1;
                width: 7.5rem;
                height: 3rem;
            }

                section .order-details .details .control-btn .css-1b62j29 .css-14hy8b4 {
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-transition: all 250ms ease 0s;
                    transition: all 250ms ease 0s;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    position: relative;
                    white-space: nowrap;
                    vertical-align: middle;
                    outline: transparent solid 2px;
                    outline-offset: 2px;
                    width: 40%;
                    line-height: 1.2;
                    border-radius: 0px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.0625rem;
                    -webkit-padding-start: 8px;
                    padding-inline-start: 8px;
                    -webkit-padding-end: 8px;
                    padding-inline-end: 8px;
                    font-size: 0.9375rem;
                    background: #00000000;
                    color: #00000080;
                    height: 100%;
                    border: none;
                    padding: 0px;
                }

            section .order-details .details .control-btn .add-btn {
                padding: 10px 30px;
                border: 0;
                outline: 0;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                color: white;
                background-color: #d97e4a;
                letter-spacing: 1.5px;
                margin-left: 20px;
            }

.css-1fe1fhy {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

    .css-1fe1fhy .css-1ywmljq {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

    .css-1fe1fhy .css-6eyxtv {
        position: absolute;
        top: 50%;
        left: 5.9375rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .css-1fe1fhy button {
        margin-top: 20px;
        padding: 10px 30px;
        outline: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: black;
        background: none;
        border: 1px solid black;
        letter-spacing: 1.5px;
    }

.css-z955a8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .css-z955a8 .css-10klw3m {
        height: 100%;
    }

        .css-z955a8 .css-10klw3m .css-sthv7p {
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 0.5rem;
        }

    .css-z955a8 .css-6txim1 {
        background: #f1f1f1;
        height: 100%;
        padding-top: 2.5625rem;
        padding-bottom: 2.5625rem;
        padding-left: 1.5rem;
        border-radius: 0.5rem;
        position: relative;
        width: 520px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        .css-z955a8 .css-6txim1 .css-yzdkxc {
            top: 50%;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            padding-left: 50px;
        }

            .css-z955a8 .css-6txim1 .css-yzdkxc .css-15wx5ch {
                font-weight: 600;
                font-size: 1.75rem;
                line-height: 1.33;
                margin-bottom: 1.5rem;
                color: black;
            }

            .css-z955a8 .css-6txim1 .css-yzdkxc button {
                margin-top: 20px;
                padding: 10px 30px;
                outline: 0;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                color: black;
                background: none;
                border: 1px solid black;
                letter-spacing: 1.5px;
            }

footer {
    background-color: #191919;
    padding: 75px 0 50px;
    position: relative;
}

    footer::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 4px;
        color: white;
        background-color: #d97e4a;
        top: 0;
        left: 16%;
    }

    footer p {
        color: #ffffff80;
        width: 91%;
        line-height: 1.6;
        letter-spacing: 0.8px;
    }

    footer .info .nav .nav-link {
        color: white;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        font-weight: 600;
    }

        footer .info .nav .nav-link.active {
            color: #d97e4a;
        }

        footer .info .nav .nav-link:hover {
            color: #d97e4a;
        }

    footer .info .social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

        footer .info .social-media .fab {
            font-size: 30px;
            color: white;
            margin: 0 10px;
        }
