
    <div class="container" style="margin: 10em">
        <div class="row bg-light m-auto"
             style="height: 37em; width: 70em; border-radius: 15px;font-family: 'Manrope', sans-serif;;">
            <div class="col-6 p-5">
                <div style="margin-top: 3em;font-size: 35px; font-weight: 600;">
                    <p>
                        BRINGING YOU THE <span style="color: #d87d4a">BEST</span> AUDIO
                        GEAR
                    </p>
                </div>
                <div class="fw-lighter">
                    <p>
                        Located at the heart of New York City,
                        Audiophile is the premier
                        store for high end headphones, earphones, speakers,
                        and audio accessories.
                        We have a large showroom and luxury demonstration
                        rooms available for
                        you to browse and experience a wide range of our
                        products.
                        Stop by our store to meet some of the fantastic
                        people who make
                        Audiophile the best place to buy your portable
                        audio equipment.
                    </p>
                </div>
            </div>
            <div class="col-6">
                <img src="~/Content/images/image-best-gear.jpg"
                     style="
              width: 100%;
              height: 100%;
              object-fit: fill;
              border-radius: 15px;
            " />
            </div>
        </div>
    </div>
