
@{
    ViewBag.Title = "_homeElement";
}
<div style="opacity: 1;">
    <div class="container">
        <div class="css-1fe1fhy">
            <picture class="css-10klw3m">
                <source media="(min-width: 62em)" srcset="./Content/images/image-speaker-zx7.jpg">
                <source media="(min-width: 30em)" srcset="./Content/images/image-speaker-zx7.jpg">
                <img alt=""
                     class="chakra-image css-sthv7p" src="./Content/images/image-speaker-zx7.jpg">
            </picture>
            <div class="css-6eyxtv">
                <h2 class="chakra-heading css-15wx5ch">ZX7 Speaker</h2>
                <button>
                    See Product
                </button>
            </div>
        </div>
    </div>
</div>

