
@{
    ViewBag.Title = "_homeHeader";
}



<section class="header mb-5">
    <div class="container">
        <div class="info">
            <span>NEW PRODUCT</span>
            <h2>XX99 MARK II<br>HEADPHONES</h2>
            <p>
                Experience natural, lifelike audio and exceptional<br>build quality made for the passionate
                music<br>enthusiast.
            </p>
            <button>
                Sea Product
            </button>
        </div>
    </div>
</section>
