
<div class="container" style="margin: 10em;width: 1170px; margin: 100px auto 0">
    <div class="row  mx-auto" style="background-color: #d87d4a; height: 35em; width:100%; border-radius: 15px;">
        <div class="col-6">
            <img src="~/Content/images/image-speaker-zx9.png"
                    style="margin-top: 7em; margin-left: 10em; height: 28em" />
        </div>
        <div class="col-6 px-5">
            <h1
                class="fw-bolder text-white "
                style=" font-family: 'Manrope', sans-serif;
                        letter-spacing: 15px;
                        margin-top: 3em;
                        font-size: 55px;">ZX9 <br>SPEAKER
            </h1>
            <div class="text-wrape w-75 ">
                <p class=" text-white fw-lighter"
                    style="font-family: 'Manrope', sans-serif; margin-top: 1em">
                    Upgrade to premium speakers that are phenomenally built to deliver
                    truly remarkable sound.
                </p>
            </div>
            <button type="button" class="btn btn-dark btn-lg">See product</button>
        </div>
    </div>
</div>
