
@{
    ViewBag.Title = "_Product1";
}


<section>
    <div class="container">
        <div class="order-details row">
            <div class="col-lg-6 product-image">
                <img alt="XX99 Mark II Headphones" width="500" height="520" class=""
                     src="~/Content/images/image-yx1-earphones.jpg">
            </div>
            <div class="col-lg-6 details">
                <div>
                    <span>New Product</span>
                    <h2>
                        XX99 Mark II<br>Headphones
                    </h2>
                    <p>
                        The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your
                        premium headphone experience by reproducing the balanced depth and precision of
                        studio-quality sound.
                    </p>
                    <h3>$ 2,999</h3>
                    <div class="control-btn">
                        <div class="css-1b62j29">
                            <button type="button" class="chakra-button css-14hy8b4">-</button>
                            <div class="css-vdd3u4">1</div>
                            <button type="button" class="chakra-button css-14hy8b4">+</button>
                        </div>
                        <button class="add-btn">
                            Add To Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
