
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap"
          rel="stylesheet" />
    <style>
        .mt-n1 {
            margin-top: -3rem !important;
        }
    </style>
    <title>navigation</title>
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-around" style="height: 12em;">
            <div class="col-sm-5 col-md-3  bg-light my-5" style="border-radius: 15px;">
                <img src="~/Content/images/image-earphones.png"
                     style="height: 10em"
                     class="mt-n1 rounded mx-auto d-block" />
                <div style="text-align: center; font-family: 'Manrope', sans-serif"
                     class="fw-bolder">
                    EARPHONES
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button"
                            class="btn fw-light"
                            style="font-family: 'Manrope', sans-serif ;">
                        Shop <span style="color: #d87d4a" class="fw-bolder">></span>
                    </button>
                </div>

            </div>
            <div class="col-sm-5 col-md-3  bg-light my-5" style="border-radius: 15px">
                <img src="~/Content/images/image-headphones.png"
                     style="height: 10em"
                     class="mt-n1 rounded mx-auto d-block" />
                <div style="text-align: center; font-family: 'Manrope', sans-serif"
                     class="fw-bolder">
                    HEADPHONES
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button"
                            class="btn fw-light"
                            style="font-family: 'Manrope', sans-serif ;">
                        Shop <span style="color: #d87d4a" class="fw-bolder">></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-5 col-md-3 bg-light my-5" style="border-radius: 15px">
                <img src="~/Content/images/image-speakers.png"
                     style="height: 10em"
                     class="mt-n1 rounded mx-auto d-block" />
                <div style="text-align: center; font-family: 'Manrope', sans-serif"
                     class="fw-bolder">
                    SPEAKERS
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button"
                            class="btn fw-light"
                            style="font-family: 'Manrope', sans-serif ;">
                        Shop <span style="color: #d87d4a" class="fw-bolder">></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
